/* CSS for Miranda_Mod4_2.html */
h1 {
    text-align: center;
    color: rgb(25, 0, 166,1.0);
}
#image-gallery {
    display: grid;
    margin-top: 10%;
}
.item1 {
    grid-column-start: 1;
    grid-column-end: 2;
}
.item2 {
    grid-column-start: 2;
    grid-column-end: 3;
}
.item3 {
    grid-column-start: 3;
    grid-column-end: 4;
}
.grid-item {
    border: 1px solid black;
}
h3 {
    text-align: center;
}
figure {
    text-align: center;
}
img {
    border: 1px solid black; /* Additional border for cleaner look */
    height: 210px; /* Fixed height and width for images */
    width: 140px; /* Fixed height and width for images */
}
figcaption {
    font-style: italic;
    font-size: .75em;
    color: rgba(18, 16, 23, 1.0);
}
h3 {
    color: rgba(18, 16, 23, .8);
    height: 12%; /* Additional height property to accommodate for long title of books */
}
#last-div {
    width: 100%;
    margin-top: 60%; 
    margin-bottom: 20px;
    float:right;
    text-align: right;
}
a {
    color: black;
    text-decoration: none;
}
a:visited {
    color: blueviolet;
}
a:hover {
    color: blue;
    text-decoration: underline;
}
a:active {
    background-color: yellow;
}


