/*CSS for Miranda_Mod12_2.html*/
h1 {
    text-align: center;
}

h3 {
    font-weight: 500;
}

hr {
    height: 1.5px;
    background-color: black;
    border: none;
    
}

.divs {
    width: 45%;
    padding: 1%; /*Additional padding for cleaner look*/
}

.divs-left {
    border: 1px solid red;
    border-radius: 15px;
    float: left;
    /* 
    Other option to achieve layout
    display: inline-block;
    */
}

.divs-right {
    border: 1px dashed red;
    border-radius: 15px;
    float:right;
    /* 
    Other option to achieve layout
    display: inline-block;
    vertical-align: top;
    */
}

#last-div {
    width: 100%;
    margin-top: 30%;
    margin-bottom: 15px;
    float: right;
    text-align: center;
 }

ol, ul {
    font-weight: 300;
}
ol {
    padding: 0px 0px 5px;
    list-style-position: inside;
    list-style: none;
}

ul {
    padding: 0px 0px 10px;
    list-style-position: inside;
    list-style-type: upper-roman;
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: rgb(71, 35, 105);
}

a:hover {
    color: blue;
    text-decoration: underline;
}

a:active {
    color: black;
    background-color: rgb(168, 199, 33);
}

button {
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    border-radius: 20px;
    color: black;
}

button:hover {
    box-shadow: 1px 1px 1px 1px black;
    cursor: pointer;
}

button:active {
    box-shadow: -1px -2px 1px 0px black;
    background-color: darkgrey;
}

